nav {
  color: #C4C4CC;
  display: flex;
  margin-top: 40px;
  gap: 32px;
  margin-left: 72px;
  align-items: center;
  font-size: 24px;
}

a {
  text-decoration: none; 
  color: #C4C4CC }

a:hover {
 color: white;
}